<div class="col-xs-12 col-md-4">
    <div id="profile">
        <a href="{{ .Permalink }}">
            <div class="small-portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
        </a>
        <div class="portrait-title">
            <h3 itemprop="name"> <a href="{{ .Permalink }}"> {{ .Params.name }} </a> </h3>
        </div>
    </div>

    <div class="col-md-3">
    </div>
    <div class="col-md-8">
        {{ range .Params.organizations }}
            <h4>{{ .role }}, {{.name}}</h4>
            {{ end }}
        {{ .Params.short_bio | markdownify }}
    </div>

</div>